//custom here
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//mixin
@mixin text_size($size){
  @media (min-width: 350px) {
    font-size: ($size);
  }

  @media (min-width: 576px) {
    font-size: ($size*1.2);
  }
  
  @media (min-width: 768px) {
    font-size: ($size*1.3);
  }
  
  @media (min-width: 992px) {
    font-size: ($size*1.4);
  }
  
  @media (min-width: 1200px) {
    font-size: ($size*1.5);
  }
}

@mixin img-size($size){
  @media (min-width: 350px) {
    height: $size;
  }

  @media (min-width: 576px) {
    height: $size*1.2;
  }
  
  @media (min-width: 768px) {
    height: $size*1.5;
  }
  
  @media (min-width: 992px) {
    height: $size*1.6;
  }
  
  @media (min-width: 1200px) {
    height: $size*1.7;
  }
}

//Header
.header_col_a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header_title{
  @include text_size(25px);
  display: flex;
  justify-content: center;
  align-items: center;
}

//Home
.home_container{
  height: 500px;
  background-image: url('../img/home/home.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;

  .home_text{
    background-color: #000;
    color: #fff;
    @include text_size(16px);
    padding: 20px;
    visibility: hidden;
  }

  &:hover{
    background-image: url('../img/home/home_blur.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .home_text{
      visibility: visible;
    }
  }
}

//Beneficios
.beneficios_container{
  height: 40rem;
  display: inline-flex;
  justify-content: center;

  .beneficios_col_a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .beneficios_col_b {
    display: inline-flex;
    justify-content: center; 
  }

  .beneficios_items{
    display: flex;
    justify-content: center
  }

  .beneficios_title {
    @include text_size(30px);
    text-align: center;
  }

  .beneficios_item {
    @include text_size(18px);
  }
}

//sobre nós
.about_row{

  .about_col{
    background-image: url('../img/about/JANTAR 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .about_text{
      font-size: 15px;
      color: #000;
      background-color: rgb(255, 255, 255,0.8);
      padding: 5%;
      text-align: center;
      line-height: 2;
      width: 70vw;
    }
  }
}

//portfolio
.potfolio_title{
  @include text_size(40px);
  text-align: center;
  padding: 4rem 0;
}

.carousel_container{
  padding-bottom: 4rem;
}
.carousel_item{
  height: 500px;
  position: relative;

  .carousel_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include img-size(100%);
    opacity: 0.9;
  }
}




@import "~bootstrap/scss/bootstrap";